$accent-button-color: hsl(225, 100%, 60%);
$main-button-color: hsl(42.787, 90%, 73%);
$light-color: hsl(0, 0%, 100%);
$main-text-color: hsl(0, 0%, 18%);
$border-radius: 10px;
$banner-section-color: 	hsl(255, 67%, 98%);
$video-section-color: hsl(165, 44%, 96%);
$card-background-color: hsl(0, 0%, 97%);
$card-image-background-color: hsl(0, 0%, 90%);
$contacts-section-color: hsl(43, 54%, 97%);
$input-border-color: 	hsl(0, 0%, 82%);