form.form
  label.form__label(for="email") Updates right to your Inbox
  input#email.form__input(type="email", name="email", placeholder="Email Address", required)
  button.form__button(type="submit") Send