.main-title {
  font-size: clamp(3.125rem, 2.3913rem + 3.2609vw, 5rem);
  font-weight: 600;
  line-height: 1.13;
}

.text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.78;
  opacity: 0.5;
}