.card {
	max-inline-size: 320px;
	border-radius: $border-radius;
	background-color: $card-background-color;

	&__content {
		font-size: 18px;
		line-height: 1.78;
		padding: 40px 40px 21px 40px;
	}

	&__image {
		inline-size: 85px;
		block-size: 85px;
		margin-block-end: 30px;
		background-color: $card-image-background-color;
		border-radius: $border-radius;
	}

	&__title {
		font-weight: 600;
		margin-block-end: 15px;
	}

	&__text {
		font-weight: 400;
		opacity: 0.5;
	}

	&:hover {
		box-shadow: 4px 4px 8px 0px rgba(230, 230, 230, 0.5);
	}
}