@import '../form-subscription/form-subscription';

.footer {
	padding: 70px 80.5px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	row-gap: 33px;

	&__left-wrapper {
		max-inline-size: 469px;
	}

	&__subscription {
		display: grid;
		gap: 33px;
		margin-block-start: 75px;
	}

	&__right-wrapper {
		display: grid;
		grid-auto-flow: column;
		justify-self: end;
		gap: 20px 60px;
	}

	&__list {
		
		&-title {
			font-size: 18px;
			font-weight: 600;
			line-height: 1.33;
			margin-block-end: 16px;
		}

		&-item:not(:last-child) {
			margin-block-end: 16px;
		}

		&-link {
			font-size: 18px;
			line-height: 1.33;
			border-bottom: 1px solid transparent;
			transition: border-bottom-color ease-in-out 0.3s;

			&:hover {
				border-bottom-color: currentColor;
			}
		}
	}

	&__social-list {

		&-icons {
			display: flex;
			gap: 20px;
		}

		&-image {
			display: block;
			inline-size: 30px;
			transition: translate ease-in-out 0.2s;

			&:hover {
				translate: 0 -3px;
			}
		}
	}
	
}

.copyright-section {
	grid-column: span 2;
	display: flex;
	justify-content: space-between;
}

.copyright {
	display: flex;
	gap: 30px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.78;

	&__text {
		text-transform: uppercase;
	}

	&__link {
		transition: opacity ease 0.3s;

		&:hover {
			opacity: 0.8;
		}
	}
}

@media (width <= 1024px) {

  .footer {
		gap: 40px;
		padding: 40px 20px;

		&__subscription {
			margin-block-start: 40px;
		}

		&__left-wrapper {
			grid-column: span 2;
		}

		&__right-wrapper {
			grid-column: span 2;
			justify-self: start;
		}
	}
  
}

@media (width <= 768px) {

	.footer {

		&__right-wrapper {
			grid-auto-flow: row;
		}

		&__list-items {
			display: none;
		}

	}

  .copyright-section {
    flex-direction: column;
		gap: 40px;
  }

	.copyright {
		gap: 20px;
		flex-direction: column-reverse;
	}

}
