footer.footer.conteiner 
  .footer__left-wrapper
    include ../logo/logo.pug
    .footer__subscription
      include ../form-subscription/form-subscription.pug
  .footer__right-wrapper 
    .footer__list
      h3.footer__list-title Our story
      ul.footer__list-items
        li.footer__list-item
          a.footer__list-link(href="#") FAQ
        li.footer__list-item
          a.footer__list-link(href="#") Contact
    .footer__list
      h3.footer__list-title Pet care
      ul.footer__list-items
        li.footer__list-item
          a.footer__list-link(href="#") Treatments
        li.footer__list-item
          a.footer__list-link(href="#") Health
        li.footer__list-item
          a.footer__list-link(href="#") Hygiene
    .footer__list
      h3.footer__list-title Pet care
      ul.footer__list-items
        li.footer__list-item
          a.footer__list-link(href="#") Pet Food
        li.footer__list-item
          a.footer__list-link(href="#") Toys
        li.footer__list-item
          a.footer__list-link(href="#") Accessories
  .copyright-section
    .copyright 
        p.copyright__text © PETWORLD 2023
        a.copyright__link(href="#") Privacy policy
        a.copyright__link(href="#") Terms of use
    ul.footer__social-list-icons
      li.footer__social-list-icon
        a.footer__social-list-link(href="#", target="_blanck")
          img.footer__social-list-image(src="./svg/facebook.svg", alt="Icon facebook.")
      li.footer__social-list-icon
        a.footer__social-list-link(href="#", target="_blanck")
          img.footer__social-list-image(src="./svg/linkedin.svg", alt="Icon linkedin.")
      li.footer__social-list-icon
        a.footer__social-list-link(href="#", target="_blanck")
          img.footer__social-list-image(src="./svg/instagram.svg", alt="Icon instagram.")
      li.footer__social-list-icon
        a.footer__social-list-link(href="#", target="_blanck")
          img.footer__social-list-image(src="./svg/twitter.svg", alt="Icon twitter.")
          